

        body {
            background-color: rgb(143, 142, 145);
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        h1{
            color: blue;
        }
        h2{
            color: rgb(0, 0, 0);
        }
        p{color: aliceblue;
            
        }
  