@charset ("utf-8");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
   
}
div.conteiner{
    background-color: aquamarine;
    

    
}
div.item{
    border: solid 1px white;

    
}